$label-width: 150px;
$lbel-smart:640px;
body{
	background-color: #eee;
}
.container{
	background-color: #fff;
	min-width: 800px;
	margin: 0 auto;
	padding: 30px;
}

.control{
	display: flex;

	@media (max-width: $lbel-smart){
		display: block;
	}
	.control_label{
		width: $label-width;
	}
	.control_body{
		flex-grow: 2;

		input{
			width: 100%;
		}
	}
}

.control_buttons{
	margin-top: 20px;
	margin-left: $label-width;

	@media (max-width:$lbel-smart){
		margin-left: 0;
	}
		
	
}